## Q1. Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list.
## Use the below-given list as an argument for your function.
## list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
## 22, 61, 34)}, [56, 'data science'], 'Machine Learning']
## Note: you must extract numeric keys and values of the dictionary also.

In [1]:
#list1=[ [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
#22, 61, 34)}, [56, 'data science'], 'Machine Learning']]

In [61]:
def flatten_list(list1):
    flat_list = []
    product=1
    # Iterate through the outer list
    for element in list1:
        if type(element) in (list,tuple,set):
            for item in element:
                flat_list.append(item)
        elif type(element) is dict:
            # If the element is of type tuple, iterate through the sublist
            for k,v in element.items():
                if type(v) in (list,tuple):
                    for value in v:
                        flat_list.append(value)
                else:
                    flat_list.append(v)
                flat_list.append(k)
        else:
            flat_list.append(element)
        
    list3=[]
    for i in flat_list:
        if type(i) in (int,float):
            list3.append(i)
    for i in list3:
        product=product*i
              
    return product

#list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, [56, 'data science'], 'Machine Learning',{1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}]
#list2= flatten_list(list1)
#print('Original List', list1)
#print('Transformed Flat List', list3)
flatten_list([1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, [56, 'data science'], 'Machine Learning',{1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}])

4134711838987085478833841242112000

## Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryptionshould be such that, for a the output ## ## should be z. For b, the output should be y. For c, the output should be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.

## Input Sentence: I want to become a Data Scientist.
## Encrypt the above input sentence using the program you just created.
## Note: Convert the given input sentence into lowercase before encrypting. The final output should be lowercase.

In [80]:
e_table = {'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v', 'f': 'u',
                 'g': 't', 'h': 's', 'i': 'r', 'j': 'q', 'k': 'p', 'l': 'o',
                 'm': 'n', 'n': 'm', 'o': 'l', 'p': 'k', 'q': 'j', 'r': 'i',
                 's': 'h', 't': 'g', 'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c',
                 'y': 'b', 'z': 'a'}

In [82]:
#e_table

In [132]:
str="I want to become a Data Scientist."
str2=""
str3="@#!$%^&*."# we can all special char here
for i in (str.lower()):
    if i==' ':
        str2=str2+'$'
    elif i in (str3):
        str2=str2+i
    #print(str1)
    elif i in (e_table.keys()):
        str2=str2+e_table[i]
print(str2)
        #print(i)

r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.