# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database is an organized collection of data and information or interrelated data collected at one place.

Differentiate between SQL and NoSQL databases.

In [ ]:
1)Type of Database : 
        SQL:Relational Database
        NoSQL : Non relational Database
2) Schema :
        SQL:Predefined schema
        NoSQL:Dynamic schema
3)Database Category :
        SQL : Table Based Database
        NoSQL: Documnet based database,key value store,graph store 
4)Complex Queries :
        SQL: Good for complex queries
        NoSQL: Not good for complex queries
5)Language:
        SQL:structured query language
        NoSQL:Unstructured Query language.
6)Online processing:
        SQL:OLTP
        NoSQL:OLAP

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL(Data Defination Language):
All these commands acts on table structure.
it includes columns,datatypes and size.
all DDL commands are auto commited.
DDL command =DDL commands+COMMIT
Let say we created one table a and insert 10 values in it.
but wehen we say rollback structure of table remain same but all inserted rows get rollbacked as create command is autocommit.

In [ ]:
Create: This command is used to create table.

create table <table-name>(col-name datatype,
col-name datatype,
col-name datatype,…)

## ALTER command:
    
command used to modify the table structure that include datatypes,columns and size.
Using ALETR command we can

	1.Add column 
	2.drop column
	3.rename column 
	4.modify a column. -->increase/decrease field size or changing datatype. 
    
##  DROP Command:

command used to drop table from database.
drop the structure along with data.

Syntax:DROP table <tablename>

## TRUNCATE COMMAND:-
    
Command used to delete all the data from table 
will empty the table.truncate commands releases all the Blocks allocated for the tabLe and when the blockes are releases then data stored in the blocks also get released.
    
syn TRUNCATE TABLE <TAB NAME>
	TRUNCATE TABLE EMP;
    
acts on data not on structure of table..
data gets deleted not table.

Code:

CREATE DATABASE if not EXISTS Test;

#Creating the TABLE
Create table if not  EXISTS Test.student("Student_id int,sname varchar(20),dept_no varchar(20)");

#Alter The TABLE
#Add COLUMN
Alter table Test.student add(gender char(1));

#Drop COLUMN
Alter table Test.student drop gender;

#Rename COLUMN
Alter table Test.student Rename column sname To Stu_name;

#Modify the COLUMN
Alter Table Test.student Modify Stu_name varchar(25);

#DROP command
DROP table Test.student;

#Truncate Table
TRUNCATE TABLE Test.student;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DATA MANUPULATION LANGUAGE:
    
DML Commands acts on Table data.DML commands acts instances(RAM)
To save these operations execute COMMIT.To cancel these operation execute ROLLBACK.

INSERT  COMMAND:

The INSERT INTO statement is used to insert new records in a table.

Two way we can insert into table 
1. Specify both the column names and the values to be inserted:
syntax:
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

2. If you are adding values for all the columns of the table, you do not need to specify the column names in the SQL query. However, make sure the order of the values is in the same order as the columns in the table. 

INSERT INTO table_name
VALUES (value1, value2, value3, ...);


DELETE COMMAND:
Command used to delete rows/rows from table based on a condition.
using DELETE command we can delete all rows and specific rows.

Syn:delete from tabname where condition
    
Here where condition is optional if it is not there then it applies to all rows.


UPDATE COMMAND::

Used to modified the data in table.
Using update commands, we can modify the all rows or specific rows.
Using update command we can modified single column or multiple column

Syntax:
Update Tabname 
Set colname =value,colname=value…
Where [condition]..

In [ ]:
## Code from MYSQL


CREATE DATABASE if not EXISTS Collage;

Create table if not exists Collage.Student (sid int,sname VARCHAR(20),dept_no int);

#inserting VALUES
insert into Collage.Student values (101,'Raj',10);
insert into Collage.Student values (102,'Ram',10);

insert into Collage.Student values (103,'Ravi',10);

COMMIT;

##Update command
UPDATE Collage.Student set dept_no=11 where sid=101;
commit;

##DELETE command
delete from Collage.Student where sid=101;
COMMIT;

## Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL (Data Query Language):
    
DQL statements are used for performing queries on the data within schema objects. 
The purpose of the DQL Command is to get some schema relation based on the query passed to it.
It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. 
When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

DQL Command :SELECT

Syn: SELECT columns/* from tablename;

SELECT command is used to display data from table.

In [ ]:
select * from Collage.Student;

## Q5. Explain Primary Key and Foreign Key.

In [ ]:
INTEGRITY CONSTRAINTS:
    
Integrity constraints are rules to maintain the data integrity i.e data quality
used to prevent users from entering invalid data.
used to enforce rule like min,max sal must be 3000 etc.

Primary Key is one of the integrity constraint.We can apply this contraint on table or column level.

PRAMARY KEY:
1) Primary key doesn’t accepts duplicate and null values,
2) It is combination of unique and not null
3) Primary key = unique+not null

NOTE:Primary key is allowed only one per table
If u want the similar to primary key as we cant have 2 primary key so we can use contraints UNIQUE NOT NULL .

e.g
Create table if not exists Collage.Department (Dept_no int PRIMARY KEY, dept_name VARCHAR(10));


FOREIN KEY:-

Foreign key is used to establish relationship between 2 tables.
To establish relationship between  two tables and take pk of one table and add it to another table as\Fk  and declare the references  constraints.
values entered in fk column should match with  values entered in pk column.fk is allows duplicates and nulls
after declaring fk  a relationship  is established between two table called parent/child relationship.
pk table is parent and fk is child.

e.g 

Create table if not exists Collage.Student (sid int PRIMARY KEY,sname VARCHAR(20),dept_no int references Collage.Department(Dept_no));

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("create database if not exists Company")
mycursor.execute("create table if not exists Company.Project(Pid int primary key ,Pname varchar(20)")
mycursor.execute("create TABLE if not exists Company.Employee (Emp_no INT primary key,Ename VARCHAR(50),project_id references Company.Project(Pid))")
mydb.close()

In [ ]:
cursor() object:
    
cursor object is used to send SQL statements to database.
After executing SQL statement, the result of SQL statements are returned inside cursor object.

for creating the object:
    Cursor object is created using cursor() method of MySQLConnection object.

    e.g
    
    cn=mysql.connector.connect(database="<DB name>",user="<Username>",password="<Password>")
    c=cn.cursor()#creating cursor object.
    

execute() method:
Cursor object provides the following method to send SQL statements to database
⦁	execute()
⦁	executemany()

execute():this method execute given SQL statements and return result inside cursor object.

execute(“SQL statement”,params)

SQL statements are two types
⦁	static SQL statement
⦁	Dynamic SQL statement


Static SQL statement
An SQL statement with values is called static SQL statement

Dynamic SQL statement
An SQL statement with replacement fields or parameters is called dynamic SQL statement

## Q7. Give the order of execution of SQL clauses in an SQL query.

##Below is the order of execution in sql query.
Order of execution means when we submitted the query to database which statement will execute first by the database..

FROM
ON
JOIN
WHERE
GROUP BY
WITH CUBE or WITH ROLLUP
HAVING
SELECT
DISTINCT
ORDER BY
TOP

e.g

SELECT DISTINCT ----6,7
<TOP_specification> <select_list> --9
FROM <left_table>  ---1
<join_type> JOIN <right_table>
ON <join_condition> ---2
WHERE <where_condition> ---3
GROUP BY <group_by_list>---4
HAVING <having_condition> ---5
ORDER BY <order_by_list>  ---8