## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
MangoDB:
    
MongoDB is a document-oriented NoSQL database used for high volume data storage. 
Instead of using tables and rows as in the traditional relational databases, 
MongoDB makes use of collections and documents.

NON Relational Database:
    
Non-relational databases might be based on data structures like documents. 
A document can be highly detailed while containing a range of different types of information in different formats.
This ability to digest and organize various types of information side by side makes non-relational databases much more 
flexible than relational databases.

If you are integrating large amounts of diverse data and in the event that your data is unstructured, complex, there is no pre-determined schema and you need to handle large amounts 
of data and store it as documents,MongoDB can be preferred over SQL.

## Q2. State and Explain the features of MongoDB.

Features of MongoDB –
 

1) Schema-less Database:
    Schema-less database means one collection can hold different types of documents in it.
    Or in other words, in the MongoDB database, a single collection can hold multiple documents and 
    these documents may consist of the different numbers of fields, content, and size. I
    t is not necessary that the one document is similar to another document like in the relational databases. 
    Due to this cool feature, MongoDB provides great flexibility to databases.
    
2) Document Oriented: 
    In MongoDB, all the data stored in the documents instead of tables like in RDBMS. 
    In these documents, the data is stored in fields(key-value pair) instead of rows and 
    columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.
    
3) Indexing: 
    In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier 
    and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each 
    document with the specified query which takes lots of time and not so efficient.
    
4) Scalability: 
    MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, 
    here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across       shards that reside across many physical servers. It will also add new machines to a running database.
    
5) Replication: 
    MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these    copies to a different server so that if one server fails, then the data is retrieved from another server.
    
6) Aggregation: 
      It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

7) High Performance: 
       The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

step 1: we have import pymongo if not available instal using command 'pip install pymongo'.

step 2: go to website 'https://www.mongodb.com/' 
step 3: click on 'try free'.
step 4 : sign up if u dont have already account or sign with your google account.
step 5 : clich on 'Database' tab and click on 'connect' and select option 'Connect your application' and select Driver as 'Python' and            version as '3.6 or later'
step 6 : copy the path which will display in 2 option and go to python file (Jypiter).for me its below path.
        Note :you have to put ur password at password field

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [69]:
import pymongo

In [70]:
client = pymongo.MongoClient("mongodb+srv://sadhana20jarag:1234@cluster0.udydp5r.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
step 7 : paste the copied path and execute.
step 8 : Create the database using below code.I have created Employee database

In [71]:
#Create a database inside mongoDB
db = client['Employee']

In [72]:
db

Database(MongoClient(host=['ac-5ykzszz-shard-00-01.udydp5r.mongodb.net:27017', 'ac-5ykzszz-shard-00-02.udydp5r.mongodb.net:27017', 'ac-5ykzszz-shard-00-00.udydp5r.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-h1o9aw-shard-0', tls=True), 'Employee')

step 9 : Create the Collection in your database

In [73]:
## Inside Db we are creating the collection means table but with key value pair

coll_create = db["Records"]

In [9]:
coll_create

Collection(Database(MongoClient(host=['ac-5ykzszz-shard-00-01.udydp5r.mongodb.net:27017', 'ac-5ykzszz-shard-00-02.udydp5r.mongodb.net:27017', 'ac-5ykzszz-shard-00-00.udydp5r.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-h1o9aw-shard-0', tls=True), 'Employee'), 'Records')

step 10 : Create the records in the collections.We have create dict type of records as its store key and value based records.

In [74]:
data = { 
    "name" :" Sadhana",
    "class" : "data Science",
    "timing" : "Flexible"
}

In [75]:
coll_create.insert_one(data)

In [ ]:
step 11 : To get the records we have to use for loop

In [76]:
for i in coll_create.find():
    print (i)

{'_id': ObjectId('63f0072f36031f972826ad91'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f0089636031f972826ad92'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f008df36031f972826ad93'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f008df36031f972826ad94'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f100778e92b78b6679efc5'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f100988e92b78b6679efc6'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f1009c8e92b78b6679efc7'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f1009c8e92b78b6679efc8'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efc9'), 'name': 'Radhika', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efca'), 'name': 'Krishna', 'city': 'Satara'}
{'_id': ObjectId('63f127e58e92b78b6679efcc'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}

In [ ]:
step 12 : Go to MangoDB and click on 'Database --->Browse Collection'.You can find your database,collection and records.

## Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [77]:
data2 = {
    "Courses" : ["java","data scientist","webdev"],
    "mentor" : ["Rao","Naik","Kale"]
        }

In [78]:
coll_create.insert_one(data2)

In [79]:
data3 = [
  { "name": "Ram", "city": "Mumbai" },
  { "name": "Raj", "city": "Pune" },
 ]

In [80]:
coll_create.insert_many(data3)

In [81]:
coll_create.find_one()

{'_id': ObjectId('63f0072f36031f972826ad91'),
 'name': ' Sadhana',
 'class': 'data Science',
 'timing': 'Flexible'}

In [82]:
for i in coll_create.find():
    print (i)

{'_id': ObjectId('63f0072f36031f972826ad91'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f0089636031f972826ad92'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f008df36031f972826ad93'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f008df36031f972826ad94'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f100778e92b78b6679efc5'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f100988e92b78b6679efc6'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f1009c8e92b78b6679efc7'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f1009c8e92b78b6679efc8'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efc9'), 'name': 'Radhika', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efca'), 'name': 'Krishna', 'city': 'Satara'}
{'_id': ObjectId('63f127e58e92b78b6679efcc'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f127ef8e92b78b6679efcd'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f127f38e92b78b6679efce'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f127f38e92b78b6679efcf'), 'name': 'Raj', 'city': 'Pune'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. 
Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.we have use for loop or iterator to get the records from cursor.

Syntax:
db.Collection_name.find(selection_criteria, projection,options)

selection_criteria: This is an optional parameter that defines the selection criteria. In simple words, it defines a query as what you want to find in a collection.

projection: This is an optional parameter that defines what to return if the query criteria are met successfully. In simple words, it is a type of decision-making that decides on criteria.

In [83]:
for i in coll_create.find():
    print (i)

{'_id': ObjectId('63f0072f36031f972826ad91'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f0089636031f972826ad92'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f008df36031f972826ad93'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f008df36031f972826ad94'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f100778e92b78b6679efc5'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f100988e92b78b6679efc6'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f1009c8e92b78b6679efc7'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f1009c8e92b78b6679efc8'), 'name': 'Raj', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efc9'), 'name': 'Radhika', 'city': 'Pune'}
{'_id': ObjectId('63f103ec8e92b78b6679efca'), 'name': 'Krishna', 'city': 'Satara'}
{'_id': ObjectId('63f127e58e92b78b6679efcc'), 'name': ' Sadhana', 'class': 'data Science', 'timing': 'Flexible'}
{'_id': ObjectId('63f127ef8e92b78b6679efcd'), 'Courses': ['java', 'data scientist', 'webdev'], 'mentor': ['Rao', 'Naik', 'Kale']}
{'_id': ObjectId('63f127f38e92b78b6679efce'), 'name': 'Ram', 'city': 'Mumbai'}
{'_id': ObjectId('63f127f38e92b78b6679efcf'), 'name': 'Raj', 'city': 'Pune'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Sort method is used to prioritize documents or arranges their order within a mongo collection. 
Records are written in form of cursor .Sort method applied on that cursor and it will return us the documents in a specific order
Sort method has only one parameter in which we have to pass the field and their value. Parameters are passed in JSON Format like {Field: Value} within parenthesis of the sort method. We can also pass multiple fields and values to sort records on them.

 f we pass “1” as a parameter of the sort field, then it will arrange the documents in ascending order. If we pass “-1” as a parameter of the field, then it will return all the records in descending order.

In [ ]:
Syntax

db.Collection_Name.sort({filed_name:1 or -1})

In [84]:
db=client['Hotel']

In [87]:
rest_coll=db["restaurants"]

In [94]:
rest_coll.insert_many( [
   { "_id" : 6, "name" : "Central Park Cafe", "borough" : "Hyatt"},
   { "_id" : 7, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 8, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 9, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 10, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] )

In [95]:
for i in rest_coll.find():
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 6, 'name': 'Central Park Cafe', 'borough': 'Hyatt'}
{'_id': 7, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 8, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 9, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 10, 'name': "Jane's Deli", 'borough': 'Brooklyn'}

In [91]:
rest_coll.find().sort("name",1)

In [97]:
for i in rest_coll.find().sort("name",1):
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 6, 'name': 'Central Park Cafe', 'borough': 'Hyatt'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 8, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 10, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 7, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 9, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
when we want to remove the document,field ,collection or database from system/memort/database then we use below 

delete_one() :To delete one document, we use the delete_one() method.

syntax :
        db.COLLECTION_NAME.delete_one(query)
    
delete_many() :To delete more than one document.

syntax:
        db.COLLECTION_NAME.delete_many(query)

drop() : ed to drop a collection from the database.drop() method will return true, if the selected collection is dropped successfully,
            otherwise it will return false.

syntax:
        db.COLLECTION_NAME.drop()

In [98]:
rest_coll.delete_one({'_id':5})

In [99]:
for i in rest_coll.find().sort("name",1):
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 6, 'name': 'Central Park Cafe', 'borough': 'Hyatt'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 8, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 10, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 7, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 9, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}

In [100]:
rest_coll.delete_many({'name':"Stan's Pizzaria"})

In [101]:
for i in rest_coll.find().sort("name",1):
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 6, 'name': 'Central Park Cafe', 'borough': 'Hyatt'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 8, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 10, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 7, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}

In [102]:
rest_coll.drop()

In [ ]:
client.drop_database("databasename")

In [106]:
client.list_database_names()#No name with Hotel

['Employee', 'pwskills', 'admin', 'local']